<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        {{! Left Side }}
        <div class="col-md-6 col-12 hero-text order-0">
          <figure>
            <img src="images/about.svg" class="img-fluid" alt="" />
          </figure>
        </div>
        {{! right side }}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >
          <h1>We are the Professional Developer ✌️</h1>
          <p>
            Welcome to
            <span class="bold-style">AzzTech</span>, Your Number One Source For
            All Things. We're Dedicated To Giving You The Very best Work, With A
            Focus On [Three Characterstics i.e. Dependability, Customer Service
            and Uniqueness]
          </p>
          <button class="btn-style btn-primary">Read More</button>
        </div>

      </div>
    </div>
  </div>
</div>